<h1>Add a new product</h1>

<%= form_for @products do |f| %>
	<%= f.label :name %>
	<%= f.text_field :title %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.label :Min_bid %>
	<%= f.number_field :min_bid %>
	<%= f.label :deadline %>
	<%= f.date_field :deadline %>

	<%= f.submit "Add Product" %>
<% end %>
