<h1>Current Product: <%= @product.title %></h1>
<p> Minimunt bet for this product: $<%= @product.min_bid %></p>
<%= form_for [@product, @bid] do |f| %>
	<%= f.label :amount %>
	<%= f.number_field :amount %>
	<%= f.label :email %>
	<%= f.text_field :user %>
	<%= f.submit "Bid for Product" %>
<% end %>
<h1>Bids on this product (You must bet more than current highest bet)</h1>
<% @sorted_bids.each do |bid| %>
<ul>
<li>Amount: <%=bid.amount %></li>

</ul>
<% end %>