<h1>Current Product: <%= @product.title %></h1>
<p> Minimunt bet for this product: $<%= @product.min_bid %></p>
<%= form_for [@product, @bid] do |f| %>
	<%= f.label :amount %>
	<%= f.number_field :amount %>
	<%= f.label :email %>
	<%= f.text_field :user %>
	<%= f.submit "Bid for Product" %>
<% end %>
<h1>Current highest bid: $<%= @sorted_bids.first.amount %> by <%= User.find(@sorted_bids.first.user_id).name %> <br> (Remeber to bet more money!)</h1>

<br>
<%= link_to "See all bids for this product", product_bids_path(@product) %>
<br>
<%= link_to "See other products", products_path %>
