<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<h1>Add New Entry </h1>
<%= form_for [@project,@entry] do |f| %>
	<%= f.label :Date %>
	<%= f.date_field :date %>
	<%= f.label :Hours %>
	<%= f.number_field :hours %>
	<%= f.label :Minutes %>
	<%= f.number_field :minutes %>
	<%= f.label :Comments %>
	<%= f.text_area :comments %>
	<%= f.submit "Add Entry" %>
<% end %>

