<h1>Welcome to fakEbay new user</h1>


<%= form_for @users do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.submit "Add User" %>
<% end %>
