<% if @contact.errors.messages.present? %>
	<p><%= @contact.errors.messages %></p>
<%end%>

<%= form_for @contact do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :address %>
	<%= f.text_field :address %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :phone %>
	<%= f.text_field :phone %>
	<%= f.submit "Save Contact" %>
<% end %>


